In [1]:
import pandas as pd
import numpy as np
import xlrd

In [2]:
qqq = pd.read_csv("qqq_filter.csv")
qqq.head()

C:\Users\yukef\AppData\Local\Temp\ipykernel_8916\500412610.py:1: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  qqq = pd.read_csv("qqq_filter.csv")

,CNTRYID,CNT,CNTSCHID,CNTSTUID,CYC,NatCen,STRATUM,SUBNATIO,OECD,ADMINMODE,...,PAREDINT,BMMJ1,BFMJ2,HISEI,LANGMOTHER,LANGFATHER,LANGSIBLINGS,LANGFRIEND,LANGSCHMATES,IMMIG
0,8,ALB,800002,800251,07MS,800,ALB0109,80000,0,2,...,16.0,32.20,81.40,81.40,1,1,1,1,1,1
1,8,ALB,800002,800402,07MS,800,ALB0109,80000,0,2,...,9.0,51.50,65.01,65.01,7,7,7,7,7,1
2,8,ALB,800002,801902,07MS,800,ALB0109,80000,0,2,...,9.0,32.20,15.35,32.20,7,7,7,7,7,1
3,8,ALB,800002,803546,07MS,800,ALB0109,80000,0,2,...,9.0,17.00,17.00,17.00,7,7,7,7,7,1
4,8,ALB,800002,804776,07MS,800,ALB0109,80000,0,2,...,12.0,16.36,15.35,16.36,7,7,7,7,7,1

In [3]:
cntbelow = ["ARE", "AUS", "CAN", "CHE", "LUX","MAC", "NZL", "QAT"]

qqq_filter = qqq[qqq["CNT"].isin(cntbelow)]

In [4]:
qqq_filter

,CNTRYID,CNT,CNTSCHID,CNTSTUID,CYC,NatCen,STRATUM,SUBNATIO,OECD,ADMINMODE,...,PAREDINT,BMMJ1,BFMJ2,HISEI,LANGMOTHER,LANGFATHER,LANGSIBLINGS,LANGFRIEND,LANGSCHMATES,IMMIG
6359,784,ARE,78400001,78408654,07MS,78400,ARE0101,7840000,0,2,...,12.0,17.00,29.18,29.18,7,7,7,7,7,1
6360,784,ARE,78400001,78408701,07MS,78400,ARE0101,7840000,0,2,...,12.0,17.00,999.00,17.00,7,7,7,7,7,1
6361,784,ARE,78400001,78409008,07MS,78400,ARE0101,7840000,0,2,...,16.0,17.00,29.18,29.18,7,7,7,7,7,1
6362,784,ARE,78400001,78413502,07MS,78400,ARE0101,7840000,0,2,...,12.0,17.00,17.00,17.00,7,7,7,7,7,1
6363,784,ARE,78400001,78413873,07MS,78400,ARE0101,7840000,0,2,...,6.0,17.00,17.00,17.00,7,7,7,7,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491066,634,QAT,63400189,63414619,07MS,63400,QAT0003,6340000,0,2,...,16.0,57.64,78.86,78.86,1,1,1,3,3,3
491067,634,QAT,63400189,63414943,07MS,63400,QAT0003,6340000,0,2,...,16.0,57.37,88.70,88.70,7,7,7,7,7,3
491068,634,QAT,63400189,63415086,07MS,63400,QAT0003,6340000,0,2,...,16.0,31.08,65.01,65.01,7,7,7,7,7,3
491069,634,QAT,63400189,63415323,07MS,63400,QAT0003,6340000,0,2,...,16.0,17.00,65.01,65.01,1,1,1,1,2,1
491070,634,QAT,63400189,63415654,07MS,63400,QAT0003,6340000,0,2,...,16.0,31.08,78.69,78.69,7,7,7,7,7,3

In [5]:
immi = [2, 3]

qqq_immi = qqq_filter[qqq_filter["IMMIG"].isin(immi)]

In [6]:
qqq_immi

,CNTRYID,CNT,CNTSCHID,CNTSTUID,CYC,NatCen,STRATUM,SUBNATIO,OECD,ADMINMODE,...,PAREDINT,BMMJ1,BFMJ2,HISEI,LANGMOTHER,LANGFATHER,LANGSIBLINGS,LANGFRIEND,LANGSCHMATES,IMMIG
6370,784,ARE,78400002,78404811,07MS,78400,ARE0431,7840000,0,2,...,12.0,17.00,46.38,46.38,7,7,7,7,7,3
6377,784,ARE,78400002,78408777,07MS,78400,ARE0431,7840000,0,2,...,12.0,17.00,59.18,59.18,7,7,7,7,7,2
6380,784,ARE,78400002,78410893,07MS,78400,ARE0431,7840000,0,2,...,14.5,64.40,999.00,64.40,7,7,7,7,7,3
6381,784,ARE,78400002,78412503,07MS,78400,ARE0431,7840000,0,2,...,12.0,17.00,25.95,25.95,7,7,7,7,7,3
6382,784,ARE,78400002,78412642,07MS,78400,ARE0431,7840000,0,2,...,16.0,17.00,17.00,17.00,7,7,7,7,7,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491064,634,QAT,63400189,63414410,07MS,63400,QAT0003,6340000,0,2,...,16.0,17.00,54.55,54.55,7,7,7,7,7,3
491066,634,QAT,63400189,63414619,07MS,63400,QAT0003,6340000,0,2,...,16.0,57.64,78.86,78.86,1,1,1,3,3,3
491067,634,QAT,63400189,63414943,07MS,63400,QAT0003,6340000,0,2,...,16.0,57.37,88.70,88.70,7,7,7,7,7,3
491068,634,QAT,63400189,63415086,07MS,63400,QAT0003,6340000,0,2,...,16.0,31.08,65.01,65.01,7,7,7,7,7,3
491070,634,QAT,63400189,63415654,07MS,63400,QAT0003,6340000,0,2,...,16.0,31.08,78.69,78.69,7,7,7,7,7,3

In [13]:
qqq_immi["LANGN"].unique()

array([500, 877, 313, 999, 801, 415, 329, 156, 641, 449, 625, 412, 669,
       200, 463, 807, 493, 667, 854, 232, 140, 148, 648, 344, 133, 666,
       834, 507, 600, 613, 835, 316, 839, 272, 301, 465, 844], dtype=int64)

In [14]:
immi_dict = {500: "Arabic", 877: "Another language (ARE)", 313: "English", 999: np.nan, 415: "Hindi", 801: "Another language (AUS)", 156: "Spanish", 449: "Greek", 625: "Cantonese", 329: "Vietnamese", 641: "Mandarin", 412: "Punjabi", 669: "Arabic (including Lebanese)", 200: "Italian", 463:"An Australian Indigenous language", 807: "Another language (CAN)", 493: "French", 667: "South Slav", 854: "Another language (CHE)", 232: "Portuguese", 140: "Albanian", 148: "German", 648: "Swiss German", 344: "Turkish", 133: "Raeto'-Romance", 666: "Dialect from Ticino or an Italian Region", 834: "Another language (LUX)", 507: "Luxembourgish", 600:"Yugoslavian - Serbian, Croatian, etc.", 613: "Chinese dialects or languages (MAC)", 835: "Another language (MAC)", 316: "Chinese", 839: "Another language (NZL)", 272: "Samoan", 301: "Korean", 465: "Maori", 844: "Another language (QAT)"}

qqq_immi["LANGN"].replace(immi_dict, inplace=True)

qqq_immi["LANGN"].unique()

C:\Users\yukef\AppData\Local\Temp\ipykernel_8916\1135911503.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qqq_immi["LANGN"].replace(immi_dict, inplace=True)

array(['Arabic', 'Another language (ARE)', 'English', nan,
       'Another language (AUS)', 'Hindi', 'Vietnamese', 'Spanish',
       'Mandarin', 'Greek', 'Cantonese', 'Punjabi',
       'Arabic (including Lebanese)', 'Italian',
       'An Australian Indigenous language', 'Another language (CAN)',
       'French', 'South Slav', 'Another language (CHE)', 'Portuguese',
       'Albanian', 'German', 'Swiss German', 'Turkish', "Raeto'-Romance",
       'Dialect from Ticino or an Italian Region',
       'Another language (LUX)', 'Luxembourgish',
       'Yugoslavian - Serbian, Croatian, etc.',
       'Chinese dialects or languages (MAC)', 'Another language (MAC)',
       'Chinese', 'Another language (NZL)', 'Samoan', 'Korean', 'Maori',
       'Another language (QAT)'], dtype=object)

In [15]:
qqq_immi.dropna(subset=['LANGN'], inplace=True)
qqq_immi

C:\Users\yukef\AppData\Local\Temp\ipykernel_8916\365200089.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qqq_immi.dropna(subset=['LANGN'], inplace=True)

,CNTRYID,CNT,CNTSCHID,CNTSTUID,CYC,NatCen,STRATUM,SUBNATIO,OECD,ADMINMODE,...,PAREDINT,BMMJ1,BFMJ2,HISEI,LANGMOTHER,LANGFATHER,LANGSIBLINGS,LANGFRIEND,LANGSCHMATES,IMMIG
6370,784,ARE,78400002,78404811,07MS,78400,ARE0431,7840000,0,2,...,12.0,17.00,46.38,46.38,7,7,7,7,7,3
6377,784,ARE,78400002,78408777,07MS,78400,ARE0431,7840000,0,2,...,12.0,17.00,59.18,59.18,7,7,7,7,7,2
6380,784,ARE,78400002,78410893,07MS,78400,ARE0431,7840000,0,2,...,14.5,64.40,999.00,64.40,7,7,7,7,7,3
6381,784,ARE,78400002,78412503,07MS,78400,ARE0431,7840000,0,2,...,12.0,17.00,25.95,25.95,7,7,7,7,7,3
6382,784,ARE,78400002,78412642,07MS,78400,ARE0431,7840000,0,2,...,16.0,17.00,17.00,17.00,7,7,7,7,7,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491064,634,QAT,63400189,63414410,07MS,63400,QAT0003,6340000,0,2,...,16.0,17.00,54.55,54.55,7,7,7,7,7,3
491066,634,QAT,63400189,63414619,07MS,63400,QAT0003,6340000,0,2,...,16.0,57.64,78.86,78.86,1,1,1,3,3,3
491067,634,QAT,63400189,63414943,07MS,63400,QAT0003,6340000,0,2,...,16.0,57.37,88.70,88.70,7,7,7,7,7,3
491068,634,QAT,63400189,63415086,07MS,63400,QAT0003,6340000,0,2,...,16.0,31.08,65.01,65.01,7,7,7,7,7,3
491070,634,QAT,63400189,63415654,07MS,63400,QAT0003,6340000,0,2,...,16.0,31.08,78.69,78.69,7,7,7,7,7,3

In [16]:
immists_dict = {2:"1st", 3:"2nd"}

qqq_immi["IMMIG"].replace(immists_dict, inplace=True)

C:\Users\yukef\AppData\Local\Temp\ipykernel_8916\389089013.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qqq_immi["IMMIG"].replace(immists_dict, inplace=True)

In [17]:
qqq_immi1 = qqq_immi[qqq_immi["IMMIG"] == "1st"]
qqq_immi2 = qqq_immi[qqq_immi["IMMIG"] == "2nd"]